body {
  margin: 0px;
  background-color: #f6f8ff;
  font-family: "Space Mono", monospace;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
p,
ul {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

/* General */

.container {
  max-width: 45.625rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__title {
  font-size: 1.625rem;
  font-weight: 700;
  color: #222731;
}

.theme-toggle {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: none;
  border: none;
  padding: 0.313rem 0.625rem;
  cursor: pointer;
}

.theme-toggle__text {
  font-size: 0.813rem;
  font-weight: 700;
  letter-spacing: 0.156rem;
  text-transform: uppercase;
  color: #697c9a;
}

.theme-toggle:active .theme-toggle__text,
.theme-toggle:hover .theme-toggle__text,
.theme-toggle:active .theme-toggle__icon path,
.theme-toggle:hover .theme-toggle__icon path {
  color: #222731;
  fill: #222731;
}

/* Content */

.main-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.search-form__input-wrapper {
  display: flex;
  align-items: center;
  background-color: #fefefe;
  border-radius: 15px;
  padding: 0.594rem 0.625rem 0.594rem 2rem;
  box-shadow: 0 16px 30px -10px rgba(70, 96, 187, 0.1986);
  gap: 1.5rem;
}

.search-form__icon {
  width: 24.06px;
  height: 24px;
}

.search-input {
  font-size: 1.125rem;
  line-height: 1.38;
  color: #4b6a9b;
  outline: none;
  border: none;
  flex-grow: 1;
}

.search-input::placeholder {
  color: #4b6a9b;
}

.search-form__no-results {
  display: none;
  font-size: 0.938rem;
  font-weight: 700;
  color: #f74646;
}

.search-form__no-results.active {
  display: block;
}

.search-form__button {
  background-color: #0079ff;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 0.844rem 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.search-form__button:hover {
  background-color: #60abff;
}

.user-profile {
  display: flex;
  gap: 2.313rem;
  background-color: #fefefe;
  padding: 3rem;
  border-radius: 15px;
  box-shadow: 0 16px 30px -10px rgba(70, 96, 187, 0.1986);
}

.user-profile__avatar img {
  width: 117px;
  height: 117px;
  border-radius: 50%;
}

.user-profile__content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.user-profile__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}

.user-info__name {
  font-size: 1.625rem;
  font-weight: 700;
  color: #2b3442;
}

.user-info__username {
  font-size: 1rem;
  font-weight: 400;
  color: #0079ff;
}

.user-info__join-date {
  font-size: 0.938rem;
  font-weight: 400;
  color: #697c9a;
}

.user-profile__bio {
  margin-bottom: 2rem;
}

.user-profile__bio p {
  font-size: 0.938rem;
  font-weight: 400;
  line-height: 1.66;
  color: #4b6a9b;
}

.user-profile__stats {
  display: flex;
  background-color: #f6f8ff;
  border-radius: 10px;
  padding: 0.938rem 2rem 1.063rem 2rem;
  margin-bottom: 2.438rem;
}

.stat-item:nth-child(1) {
  margin-right: 6.188rem;
}

.stat-item:nth-child(2) {
  margin-right: 5.125rem;
}

.stat-item__title {
  font-size: 0.813rem;
  font-weight: 400;
  color: #4b6a9b;
}

.stat-item__value {
  font-size: 1.375rem;
  font-weight: 700;
  color: #2b3442;
}

.contact-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.188rem 3.875rem;
}

.contact-list li {
  display: flex;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
  font-size: 0.938rem;
  font-weight: 400;
  color: #4b6a9b;
}
